<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Ayush Mehta (24DEV067)</h2>

    <form action="/delimeterSearch/result" , method="post">
        <input type="text" name="input" id="input">
        <input type="submit" name="submit" value="GO">
    </form>
    <p>Try this : _nwlrbbmqbh^cdarzowkky$bynecdyggx}bldbefsarc{511702305:hiddqscdxr</p>
    <table>
        <tr>
            <td>First Name</td>
            <td>_</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>^</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Collage</td>
            <td>}</td>
        </tr>
        <tr>
            <td>Mobile No</td>
            <td>{</td>
        </tr>
        <tr>
            <td>City</td>
            <td>:</td>
        </tr>

    </table>
</body>
</html>