<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
    <style>
        table{
            border: solid black 1px;
            border-collapse: collapse;
        }
        td{
            border: solid black 1px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <form action="/comboGenrator/component" method="post">
        <label for="name">Name the Combo box</label>
        <input type="text" name="name">
        <input type="submit" name="submit" value="GOOOO">
    </form>

    <br>
    <br>
    <table>
        <tr>
            <td>Combo Name</td>
            <td>Combo Type</td>
            <td>Multi Value</td>
        </tr>
        <tr>
            <td>State</td>
            <td>Dropbox</td>
            <td>No</td>
        </tr>
        <tr>
            <td>School</td>
            <td>Dropbox</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Collage</td>
            <td>Dropbox</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Dropbox</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Checkbox</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Technology</td>
            <td>Checkbox</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Radio</td>
            <td>No</td>
        </tr>
    </table>
</body>
</html>