<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <style>
    body {
      font-family: "Comic Sans MS", cursive;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: #f5f5f5;
      color: #333;
    }

    .container {
      width: 100%;
      max-width: 400px;
    }

    .card {
      width: 100%;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h2 {
      text-align: center;
      color: #333;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    input {
      padding: 10px;
      margin-bottom: 12px;
      border: 1px solid #ddd;
      border-radius: 4px;
      transition: border-color 0.3s ease-in-out;
      outline: none;
      color: #333;
    }

    input:focus {
      border-color: #ff4500;
    }

    button {
      background-color: #ff4500;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    button:hover {
      background-color: #e63900;
    }
    #fc 
    {
      display: flex;
      flex-direction: column;
    }

    #fp{
      font-size: 12px;
      margin-left: 185px;
      color: #333;
      text-decoration: none;
    }
  </style>
  <body>
    <div class="container">
      <div class="class">
        <h2>Login</h2>
        <form action="/loginTask/login" method="POST">
          <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required />
          </div>
          <div id="fc">
            <div>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required />
            </div>
            <a id="fp" href="/forgotpass">Forgot Password</a>
          </div>
          <div>
            <%if(incorrectAttempts >= 3){%>
            <div>
              <label for="riddleval"><%=riddle%></label>
              <input type="text" name="riddleval" id="riddleval" required />
            </div>
            <%}%>
            <span><p><%=text%></p></span>
          </div>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
