<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      section {
        display: flex;
        gap: 50px;
      }
    </style>
  </head>
  <body>
    <section>
      <% if(current > 1) { %> <button><a href="/task5/component?page=1">&lt&lt</a> </button><% } %>
      <% if(current > 1) { %> <button><a href="/task5/component?page=<%= current-1%>">&lt</a> </button> <% } %>
      <p id = "val"><%= current %></p>
      <% if(current < 250) { %> <button><a href="/task5/component?page=<%= 250 - (250 - current - 1)%>">&gt</a> </button><% } %>
      <% if(current < 250) { %> <button><a href="/task5/component?page=250">&gt&gt</a> </button><% } %>
    </section>
  </body>
</html>
