<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/task5/display">Display</a>
    <a href="/task5/component">Component</a>
    <a href="/task5/order">Order by</a>
</body>
</html>