<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* Common CSS */
      body {
        font-family: "Comic Sans MS", cursive;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #f5f5f5;
        color: #333;
        font-size: 20px;
      }

      .container {
        width: 100%;
        max-width: 400px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>OOPS... Something went wrong.</p>
    </div>
  </body>
</html>
