<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      li {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <ul type="none">
      <li>
        <a href="/task1">TASK1 (Kuku Cube)</a>
      </li>
      <li>
        <a href="/task2">TASK2 (Dynamic Table)</a>
      </li>
      <li>
        <a href="/task3">TASK3 (Tic Tac Toe)</a>
      </li>
      <li>
        <a href="/task4">TASK4 (Insert and Display Operation On file)</a>
      </li>
      <li>
        <a href="/task5">TASK5 (Pagination and Sorting)</a>
      </li>
      <li>
        <a href="/task6">TASK6 (Student Attendence and Exam Marks)</a>
      </li>
      <li>
        <a href="/task7">TASK7 (Searching in Databse)</a>
      </li>
      <li>
        <a href="/task8">TASK8 (Delimeter Searching)</a>
      </li>
      <li>
        <a href="/task9">TASK9 (Combo Component Genrator)</a>
      </li>
      <li>
        <a href="/task10">TASK10 (JSON Placeholder API Task)</a>
      </li>
      <li>
        <a href="/task11">TASK11 (City State Dynamic DropBox)</a>
      </li>
      <li>
        <a href="/task12">TASK12 (Basic Job Application Form)</a>
      </li>
      <li>
        <a href="/task13">TASK13 (AJAX Job Application Form)</a>
      </li>
      <li>
        <a href="/task14">TASK14 (Time Converter)</a>
      </li>
    </ul>
  </body>
</html>
