<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      li {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <ul type="none">
      <li>
        <a href="/task1">TASK1 (Kuku Cube)</a>
      </li>
      <li>
        <a href="/task2">TASK2 (Dynamic Table)</a>
      </li>
      <li>
        <a href="/task3">TASK3 (Tic Tac Toe)</a>
      </li>
      <li>
        <a href="/task4">TASK4</a>
      </li>
      <li>
        <a href="">TASK5</a>
      </li>
      <li>
        <a href="">TASK6</a>
      </li>
      <li>
        <a href="">TASK7</a>
      </li>
      <li>
        <a href="">TASK8</a>
      </li>
      <li>
        <a href="">TASK9</a>
      </li>
      <li>
        <a href="">TASK10</a>
      </li>
      <li>
        <a href="">TASK11</a>
      </li>
    </ul>
  </body>
</html>
