<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>You have this users for update data</h2>
    <table>

    <% for(let i=0; i<id.length  ; i++) {%>
        <tr>
            <td>
                <a href="http://localhost:3000/jobAppForm/update/<%= id[i].eid%>">User <%= id[i].eid%></a>
            </td>
        </tr>
     <% } %>
    </table>
</body>
</html>