
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Zone Converter</title>
    <style>
        body {
          font-family: "Comic Sans MS", cursive;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
          background: #f5f5f5;
          color: #333;
        }
  
        .container {
          width: 100%;
          max-width: 600px;
        }
  
        .card {
          width: 100%;
          background-color: #fff;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
  
        h2 {
          text-align: center;
          color: #333;
        }
  
        input {
          padding: 10px;
          margin-bottom: 12px;
          border: 1px solid #ddd;
          border-radius: 4px;
          transition: border-color 0.3s ease-in-out;
          outline: none;
          color: #333;
          width: 123px;
          margin-left: auto;
        }
  
        input:focus {
          border-color: #ff4500;
        }
  
        #submit {
          background-color: #ff4500;
          color: #fff;
          padding: 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;
        }
  
        #submit:hover {
          background-color: #e63900;
        }

        span{
            margin-right: 15px;
        }
  
        
      </style>
</head>

<body>
    <div class="container">
    <h2>Ayush Mehta (24DEV067)</h2>
    <div class="card">
        <div class="bahar">
            <form name="form" class="form">
                <div class="content">
                    Year:<input type="text" name="year"  class="time double">
                    Month:<input type="text" name="month" class="time">
                    Date:<input type="text" name="date"  class="time">
                    Hour:<input type="text" name="hour"  class="time">
                    Minute:<input type="text" name="minute" class="time">
                    Second:<input type="text" name="second"  class="time">
                </div>
                <div class="bahar">
                    <div class="content">
                        <SPAN>
                            To:
                        </SPAN>
                        <select name="fromTime" id="toTime">
                            <option value="asia/kolkata">Asia kolkata</option>
                            <option value="asia/dhaka">Asia Dhaka</option>
                            <option value="asia/tokyo">Asia Tokyo</option>
                            <option value="pacific/pago_pago">Pacific Pago_Pago</option>
                            <option value="pacific/honolulu">Pacific/Honolulu</option>
                            <option value="america/newyork">America/Anchorage</option>
                            <option value="africa/lagos">Africa Lagos</option>
                            <option value="europe/berlin">Europe Berlin</option>
                            <option value="europe/paris">Europe Paris</option>
                        </select>
                        <p id="output2"></p>
                    </div>
                </div>
        </div>
        </form>
        <div>
            <button id="submit">Submit</button>
        </div>
    </div>
</div>
    <script>
        let form = document.forms['form'];
        let date = new Date();
        function timeZone() {
            let date = new Date();
            date.setFullYear(form['year'].value);
            date.setMonth(form['month'].value - 1);
            date.setDate(form['date'].value);
            date.setHours(form['hour'].value);
            date.setMinutes(form['minute'].value);
            date.setSeconds(form['second'].value);
            const t2 = document.getElementById('toTime').value;
            output = date.toLocaleString("en-US", {
                timeZone: t2
            });
            document.getElementById('output2').innerText = output;
        }
        const submit = document.getElementById('submit');
        submit.addEventListener('click', async () => {
            timeZone();
        });
    </script>
</body>

</html>