<html>
  <head>
    <style>
      table,
      tr,
      td {
        /* margin-left:45%; */
        border-collapse: collapse;
        border: SOLID BLACK 1px;
        height: 10px;
        width: 10px;
      }
      .td1 {
        background-color: aquamarine;
      }

      .td2 {
        background-color: bisque;
      }
      .btns{
        margin-bottom: 50px;
      }
    </style>

    <script>
      let numberrow = 2;
      let numbercollum = 2;

      function updateTable() {
        let table = document.getElementById("table");

        for (let i = 0; i < numberrow; i++) {
          for (let j = 0; j < numbercollum; j++) {
            let cell = table.rows[i].cells[j];
            let totalIndex = i + j;
            cell.style.backgroundColor =
              totalIndex % 2 === 0 ? "aquamarine" : "bisque";
          }
        }
      }

      function insert_row() {
        numberrow++;
        var t = document.getElementById("table");
        var r = t.insertRow(0);

        for (var i = 0; i < numbercollum; i++) {
          var j = r.insertCell(i);
          j.innerHTML = "Ayush";
        }

        updateTable();
      }

      function remove_row() {
        if (numberrow > 2) {
          numberrow--;
          document.getElementById("table").deleteRow(0);
          updateTable();
        } else alert("can't delete");
      }

      function insert_collumn() {
        numbercollum++;
        var r = document.getElementsByTagName("tr");
        for (var i = 0; i < numberrow; i++) {
          var x = r[i].insertCell(0);
          x.innerHTML = "Ayush";
        }
        updateTable();
      }

      function remove_collumn() {
        if (numbercollum > 2) {
          numbercollum--;
          for (var i = 0; i < numberrow; i++) {
            var r = document.getElementsByTagName("tr");
            var x = r[i].deleteCell(0);
          }
          updateTable();
        } else alert("can't delete");
      }
    </script>
  </head>

  <body>
    <h1 style="text-align: center">Ayush Mehta - 24DEV067 - Date:01/02/2024</h1>
    <div align="center" class="btns">
      <button name="addrow" onclick="insert_row()">Add row</button>
      <button name="removerow" onclick="remove_row()">Remove row</button>

      <button name="addcollumn" onclick="insert_collumn()">Add Collumn</button>
      <button name="removecollumn" onclick="remove_collumn()">
        Remove Collumn
      </button>
    </div>
    <table align="center" id="table">
      <tr id="try">
        <td class="td1">Ayush</td>
        <td class="td2">Ayush</td>
      </tr>

      <tr>
        <td class="td2">Ayush</td>
        <td class="td1">Ayush</td>
      </tr>
    </table>
    <br /><br />
    
  </body>
</html>
